<div class="my_table">
  <legend>All your bugs</legend>
  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Description</th>
      <th>Date of bug</th>
      <th>Finished</th>
      <th>Open</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-active" *ngFor="let b of bugs; let i = index">
      <td>{{i}}</td>
      <td>{{b.description}}</td>
      <td>{{b.dateOfBug | date:'medium'}}</td>
      <td>{{b.finished}}</td>
      <th><div class="container"><button type="button" class="btn btn-primary" routerLink="/bug/{{b.id}}" routerLinkActive="active">Open</button></div></th>
      <th><div class="container"><button type="button" class="btn btn-danger" (click)="deleteBug(i)">Delete</button></div></th>
    </tr>
    <tr class="table-success">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th><div class="container"><button type="button" class="btn btn-success" (click)="goToAddNewBug()">Add new</button></div></th>
    </tr>
    </tbody>
  </table>
</div>
