<div class="my_table">
  <legend>All your bugs</legend>
  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Description</th>
      <th>Date of bug</th>
      <th>Paid</th>
      <th>Finished</th>
      <th>Open</th>
      <th>Delete</th>
      <th>Bill</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-active" *ngFor="let b of bugs; let i = index">
      <td>{{i}}</td>
      <td>{{b.description}}</td>
      <td>{{b.dateOfBug | date:'medium'}}</td>
      <td *ngIf="b.paid == true"><span class="badge badge-success">{{b.paid}}</span></td>
      <td *ngIf="b.paid == false"><span class="badge badge-danger">{{b.paid}}</span></td>
      <td *ngIf="b.finished == true"><span class="badge badge-success">{{b.finished}}</span></td>
      <td *ngIf="b.finished == false"><span class="badge badge-danger">{{b.finished}}</span></td>
      <th><div class="container"><button type="button" class="btn btn-primary" routerLink="/bug/{{b.id}}" routerLinkActive="active">Open</button></div></th>
      <th><div class="container"><button type="button" class="btn btn-danger" (click)="deleteBug(i)">Delete</button></div></th>
      <th><div class="container" *ngIf="b.paid == false && b.finished == true"><button type="button" class="btn btn-danger" routerLink="/showBill/{{b.id}}/{{locationId}}" routerLinkActive="active">Open bill</button></div></th>
    </tr>
    <tr class="table-success">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th><div class="container"><button type="button" class="btn btn-success" (click)="goToAddNewBug()">Add new</button></div></th>
    </tr>
    </tbody>
  </table>
</div>
