<div class="my_table">
  <legend>List of topics</legend>
  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Description</th>
      <th>Creator</th>
      <th>Votes</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-active" *ngFor="let topic of topics; let i = index">
      <td>{{i}}</td>
      <td>{{topic.description}} </td>
      <td>{{topic.creator.username}} </td>
      <td>
          <span (click)="like(topic.id)" class="fa fa-thumbs-up" aria-hidden="true"></span> {{topic.pos_votes}}
          <span (click)="dislike(topic.id)" class="fa fa-thumbs-down" aria-hidden="true"></span> {{topic.neg_votes}}


        <!--<button type="button" class="btn btn-default btn-lg">-->
          <!--<span class="fa fa-thumbs-down" aria-hidden="true"></span> 0-->
        <!--</button>-->


      </td>
    </tr>

    <tr class="table-success">
      <th></th>
      <td>
        <div class="form-group">
          <textarea class="form-control" rows="1" id="description" placeholder="Enter description" name="description" [(ngModel)]="description"> </textarea>
        </div>
      </td>
      <th colspan="2">
        <div class="container"><button type="button" class="btn btn-success" id="addTopic" (click)="addTopic()">Add</button></div>
      </th>
    </tr>
    </tbody>
  </table>
</div>
