<div class="my_table">
  <legend>All parliaments</legend>
  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Building address</th>
      <th>Sessions</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-active" *ngFor="let parlament of parlaments; let i = index">
      <td>{{i}}</td>
      <td>{{parlament.buildingAddress.street}} {{parlament.buildingAddress.number}}, {{parlament.buildingAddress.country}} {{parlament.buildingAddress.postalCode}} </td>
      <th><div class="container"><button type="button" class="btn btn-danger" id="{{parlament.id}}" (click)="goToLink(parlament.id)">Sessions</button></div></th>

    </tr>
    </tbody>
  </table>
</div>
