<div class="register">
  <h3>Register user</h3>
  <div class="form-group">
    <label for="usr">Username</label>
    <input type="text" class="form-control" id="usr" placeholder="Enter username" name="usr" [(ngModel)]="usr" >
    <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" [(ngModel)]="password" >
  </div>
  <div class="form-group">
    <label for="exampleSelect1">Example select</label>
    <select class="form-control" id="exampleSelect1" [(ngModel)]="userType">
      <option value="ROLE_ADMIN">ROLE_ADMIN</option>
      <option value="RESPONSIBLE_PERSON">RESPONSIBLE_PERSON</option>
      <option value="FIRM">FIRM</option>
      <option value="INSTITUTION">INSTITUTION</option>
    </select>
  </div>
  <button type="submit" (click)="register()"  class="btn btn-primary">Register</button>
</div>
