<div class="my_table">
  <legend>All your apartments</legend>
  <table class="table table-striped table-hover table-bordered" id="tenantTable">
    <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Floor</th>
      <th>Square</th>
      <th>Bugs</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-active" *ngFor="let l of locations; let i = index">
      <td>{{i}}</td>
      <td>{{l.floor}}</td>
      <td>{{l.square}}</td>
      <th><div class="container"><button type="button" class="btn btn-danger" (click)="goToShowAllBugs(l.locationId)">Bugs</button></div></th>
    </tr>
    </tbody>
  </table>
</div>
