<div class="location_container" *ngIf="location != null">
  <h3>Location information</h3>

  <div class="form-group">
    <fieldset disabled="">
      <label class="control-label" for="disabledInput">Type of location</label>
      <input class="form-control" id="disabledInput" type="text" disabled="" [(ngModel)]="location.type">
    </fieldset>
  </div>

  <div class="form-group" *ngIf="location.type=='APARTMENT' || location.type=='ATTIC'">
    <fieldset disabled="">
      <label class="control-label" for="disabledInput1">Flor</label>
      <input class="form-control" id="disabledInput1" type="text" disabled="" [(ngModel)]="location.flor">
    </fieldset>
  </div>

  <div class="form-group" *ngIf="location.type=='APARTMENT' || location.type=='ATTIC' || location.type=='BASEMENT'">
  <fieldset disabled="">
    <label class="control-label" for="disabledInput2">Square</label>
    <input class="form-control" id="disabledInput2" type="text" disabled="" [(ngModel)]="location.square">
  </fieldset>
  </div>

  <div class="form-group" *ngIf="location.type=='HALLWAY'">
    <fieldset disabled="">
      <label class="control-label" for="disabledInput3">Number of flors</label>
      <input class="form-control" id="disabledInput3" type="text" disabled="" [(ngModel)]="location.numberOfFlors">
    </fieldset>
  </div>

  <div class="form-group" *ngIf="location.type=='APARTMENT' && selectedTenant!=null">
    <fieldset disabled="">
      <label class="control-label" for="disabledInput4">Owner</label>
      <input class="form-control" id="disabledInput4" type="text" disabled="" value="{{selectedTenant.username}}--{{selectedTenant.firstname}}--{{selectedTenant.lastname}}">
    </fieldset>
  </div>

  <div class="form-group" *ngIf="location.type=='APARTMENT'">
    <label for="exampleSelect1">Select owner</label>
    <select class="form-control" id="exampleSelect1" [(ngModel)]="selectedTenant">
      <option *ngFor="let c of tenants" [ngValue]="c" >{{c.username}}--{{c.firstname}}--{{c.lastname}}</option>
    </select>
  </div>

  <div class="form-group" *ngIf="location.type=='APARTMENT'">
    <button type="button" class="btn btn-secondary" routerLink="/addUser" routerLinkActive="active">Add new tenant</button>
    <button type="submit" class="btn btn-primary" (click)="connect()">Save</button>
  </div>
</div>
